.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  text-transform: uppercase;
  padding: 25px 0 25px 0;
}

.header__logo {
  font-size: 28px;
  font-weight: 700;
}

.header__list {
  display: flex;
  font-size: 18px;
}

.header__item {
  list-style-type: none;
  padding-right: 30px;
}

.header__item:last-child {
  padding-right: 0;
}

.header__icon {
  display: flex;
  align-items: center;
}

.header__search {
  margin-right: 30px;
}

.header__input {
  width: 200px;
  height: 35px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #000000;
  padding: 0 0 0 20px;
}

.header__input:hover {
  background: #c2bdbd;
}

.header__btn {
  height: 37px;
  width: 50px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #000000;
  background: #ffffff;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.header__btn:hover {
  background: #c2bdbd;
}

.icon__img {
  width: 20px;
  height: 20px;
  padding-right: 40px;
}

.icon__img:last-child {
  padding-right: 0;
}

.icon__small {
  padding-left: 12px;
}

.menu {
  opacity: 0.9;
  background: #c2c2c5;
  position: fixed;
  width: 320px;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  top: -160vw;
  left: 0;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.menu__item {
  padding-right: 40px;
  font-size: 14px;
}

.menu::last-child {
  padding-right: 0;
}

.menu__burger {
  display: none;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 29px;
  right: 18px;
  margin-top: -6px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  z-index: 12;
}

.menu__burger span, .menu__burger span:before, .menu__burger span:after {
  display: block;
  height: 2px;
  width: 18px;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  margin-top: -1px;
  background-color: #000000;
}

.menu__burger span:before {
  transition: all 0.2s;
  content: '';
  margin-top: -6px;
}

.menu__burger span:after {
  transition: all 0.2s;
  content: '';
  margin-top: 4px;
}

.menu__burger_active span {
  background-color: transparent;
}

.menu__burger_active span:before {
  transform: rotate(45deg);
  margin-top: 0;
}

.menu__burger_active span:after {
  transform: rotate(-45deg);
  margin-top: 0;
}

.menu_active {
  top: 0;
}

.menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.menu a {
  display: block;
  width: 100%;
  line-height: 3;
  font-weight: 100;
  transition: all 0.2s;
}

.menu a:hover {
  color: #D4C17F;
}

.menu__icon {
  display: flex;
}

.menu .icon__item {
  height: 40px;
  width: 40px;
  padding-right: 20px;
}

.main {
  text-transform: uppercase;
  background-image: url(../image/header/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 745px;
  position: relative;
}

.main__block {
  position: absolute;
  bottom: 15%;
  right: 16%;
}

.main__uptitle {
  font-size: 18px;
  font-weight: 500;
}

.main__title {
  font-size: 80px;
  font-weight: 700;
}

.main__subtitle {
  text-transform: none;
  font-size: 18px;
  font-weight: 500;
}

.main__button {
  padding-top: 20px;
}

.main__btn {
  width: 147px;
  height: 35px;
  background: #22262A;
  color: #ffffff;
  text-transform: uppercase;
  margin-right: 34px;
  border: 0;
}

.main__btn:last-child {
  margin-right: 0;
}

.catagory {
  padding-top: 121px;
}

.catagory__bigblock {
  display: flex;
  justify-content: center;
}

.catagory__block {
  display: flex;
  flex-wrap: wrap;
  padding-right: 30px;
  flex: 50%;
  position: relative;
}

.catagory__block:last-child {
  padding-right: 0;
}

.catagory__block:last-child__bigblock {
  display: flex;
  padding-right: 0;
  max-height: 579px;
}

.catagory__box-pos {
  padding-top: 25px;
  padding-right: 25px;
}

.catagory__box-pos:last-child {
  padding-right: 0;
}

.catagory__btn {
  position: absolute;
  bottom: 27px;
  left: 27px;
  width: 203px;
  height: 35px;
  font-size: 18px;
  text-transform: uppercase;
  background: #ffffff;
  border: 0;
}

.container {
  max-width: 1133px;
  margin: 0 auto;
}

.woman {
  padding-top: 110px;
  text-align: center;
}

.woman__subtitle {
  font-size: 15px;
  padding-bottom: 65px;
}

.woman__block {
  display: flex;
  justify-content: space-around;
  text-align: left;
  text-transform: uppercase;
  font-size: 15px;
}

.woman__img {
  padding-bottom: 38px;
}

.woman__uptitle {
  padding-bottom: 10px;
}

.woman__subsubtitle {
  padding-bottom: 10px;
  font-weight: 700;
}

.woman__price {
  color: #CF2929;
}

.woman__price span {
  padding-right: 20px;
  text-decoration: line-through;
  color: #22262A;
}

.title__up {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 20px;
}

.avon {
  padding-top: 110px;
  padding-bottom: 121px;
  text-align: center;
}

.avon__subtitle {
  font-size: 15px;
  padding-bottom: 60px;
}

.avon__block {
  display: flex;
}

.avon__box {
  position: relative;
}

.avon__img {
  padding-top: 105px;
  padding-right: 29px;
}

.avon__img-pos {
  position: absolute;
  bottom: -33px;
  right: -78px;
  padding: 30px;
  background: #ffffff;
}

.swiper__slider {
  width: 300px;
  margin: 0 auto;
}

.tachen {
  background-image: url(../image/tachen/1.jpg);
}

.tachen__block {
  position: absolute;
  bottom: 15%;
  left: 17%;
}

.tachen__btn {
  width: 214px;
}

.footer {
  padding-top: 115px;
  background: #F2F8FC;
  font-size: 15px;
}

.footer__one {
  display: flex;
  justify-content: space-around;
  padding-bottom: 106px;
}

.footer__img {
  width: 20px;
}

.footer__title {
  font-size: 25px;
}

.footer__text {
  padding-top: 20px;
  padding-bottom: 40px;
  max-width: 406px;
}

.footer__adress {
  padding-bottom: 17px;
}

.footer__mail {
  padding-bottom: 17px;
  line-height: 22px;
  position: relative;
}

.footer__mail::after {
  content: '';
  width: 235px;
  height: 2px;
  background: black;
  position: absolute;
  top: 24px;
  left: 0;
}

.footer__phone {
  padding-bottom: 17px;
}

.footer__img {
  padding-right: 15px;
}

.footer__link {
  display: flex;
  justify-content: space-between;
}

.footer__link ul {
  list-style-type: none;
}

.footer__two {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  font-size: 15px;
  background: #E7F5F8;
}

.footer__search {
  display: flex;
}

.footer__input {
  width: 430px;
  height: 45px;
  border-radius: 5px 0 0 5px;
  border: none;
  padding: 0 0 0 20px;
  margin-bottom: 70px;
}

.footer__btn {
  height: 45px;
  width: 100px;
  border-radius: 0 5px 5px 0;
  border: none;
  background: #ffffff;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.footer__item {
  padding-bottom: 20px;
}

.footer__item:first-child {
  padding-bottom: 27px;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 900px) {
  .header__menu {
    display: none;
  }
  .header__icon {
    display: none;
  }
  .menu__burger {
    display: block;
  }
}

body {
  color: #22262A;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
}

input:focus, button:focus {
  outline: none;
}

input:hover, button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #22262A;
}

a:hover {
  font-weight: 700;
}

.button:hover {
  background: #ffffff;
  color: #22262A;
  font-weight: 600;
}

.button__two:hover {
  background: #22262A;
  color: #ffffff;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */