.avon {
   padding-top: 110px;
   padding-bottom: 121px;
   // padding: 200px;
   text-align: center;

   &__subtitle {
      font-size: 15px;
      padding-bottom: 60px;
   }

   &__block {
      display: flex;
      justify-content: center;
   }
   
   &__box {
      position: relative;
      // padding: 0 20px 20px;
   }

   &__img {
      padding-top: 105px;
      padding-right: 29px;

      &-pos {
         position: absolute;
         bottom: -23px;
         right: -16%;
         padding: 30px;
         background: #ffffff;
      }
   }
   
}

.swiper__slider {
   width: 300px;
   margin: 0 auto;
}