.catagory {
   
   padding: 121px 20px 0 20px;

   &__bigblock {
      display: flex;
      justify-content: center;
      align-items: center;
   }


   &__block {
      display: flex;
      flex-wrap: wrap;
      padding-right: 30px;
      flex: 50%;
      position: relative;;
      &:last-child {
         padding-right: 0
      }

      &:last-child {
         &__bigblock {
            display: flex;
            padding-right: 0;
            max-height: 579px;
         }
      }
   }

   &__box {
      display: flex;

      &-pos {
         padding-top: 25px;
         padding-right: 25px;
         
         &:last-child {
            padding-right: 0
         }
      }
   }

   &__btn {
      position: absolute;
      bottom: 27px;
      left: 27px;
      width: 203px;
      height: 35px;
      font-size: 18px;
      text-transform: uppercase;
      background: #ffffff;
      border: 0;
   }
}

.container {
   
   max-width: 1133px;
   margin: 0 auto;
}