@media (max-width: 1357px) {

   .avon {

      padding-top: 60px;
      padding-bottom: 60px;
      &__block {
         flex-direction: column;
         align-items: center;
      }
      &__img {
         padding-top: 20px;
         padding-right: 0;
         &-pos {
            position: initial;
            padding: 54px 0 0 0;
         }
      }
      
      &__box {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding-top: 54px;
      }

      &__subtitle {
         padding-bottom: 0;
      }
   }
}

@media (max-width: 1131px) {
   .woman {
      padding-top: 60px;
      &__box {
         padding: 0 20px 54px 20px;
      }
      &__img {
         padding-bottom: 18px;
      }
   }
}

@media (max-width: 960px) {

   .catagory {
      &__bigblock {
         flex-direction: column;
         align-items: center;
      }

      &__block {
         display: block;
         padding-right: 0;
      }

      &__box:last-child {
         padding-bottom: 25px;
      }
   }

   .footer {
      padding-top: 30px;

      &__one {
         justify-content: center;
         text-align: center;
      }

      &__title {
         padding-top: 35px;
      }

      &__mail::after {
         left: 86px;
      }
   }
}

@media (max-width: 955px) {

   .footer {

      &__one {
         padding-bottom: 0;
      }
   }
}

@media (max-width: 900px) {
   .header__menu {
      display: none;
   }

   .header__icon {
      display: none;
   }

   .menu__burger {
      display: block;
   }
}

@media (max-width: 632px) {

   .main {

      text-align: center;
      &__title {
         font-size: 45px;
      }

      &__subtitle {
         display: none;
      }

      &__block {
         position: inherit;
         padding: 20px 15px 0 15px;
      }

      &__btn {
         margin-right: 0;
         margin-bottom: 20px;
      }
   }

   .swiper-slide-bg1 {
      padding-top:8%;
      padding-bottom: 8%;
   }

   .swiper-slide-bg2 {
      padding-top:8%;
      padding-bottom: 8%;
   }
}

@media (max-width: 591px) {

   .catagory {
      padding-top: 60px;

      &__box {
         flex-direction: column;
         align-items: center;
         
         &:last-child {
            padding-bottom: 54px;
         }
         &-pos {
            padding-right: 0;
            min-width: 280px;
            padding-top: 54px;
            & img {
               width: 100%;
            }
         }
      }
   }

   .avon {
      &__img-pos {
         width: 100%;
      }
      &__box {
         padding: 54px 20px 0 20px;
      }
   }

   .footer {

      &__link {
         flex-direction: column;
      }

      &__input {
         width: 200px;
      }

      &__btn {
         width: 60px;
      }

      &__list {
         padding-left: 0;
      }

      &__search {
         margin-bottom: 35px;
      }
   }
}