@import 'header';
@import 'main';
@import 'catagory';
@import 'woman';
@import 'avon';
@import 'tachen';
@import 'footer';
@import 'media';

body {
   color: #22262A;
   margin: 0;
   font-family: 'Poppins', sans-serif;
}

img {
	max-width: 100%;
}

input, button {
   &:focus {
      outline: none;
   }  

   &:hover {
      cursor: pointer;
   }
}

a {
   text-decoration: none;
   color: #22262A;
   &:hover {
      font-weight: 700;
   }
      
}

.button:hover {
   background: #ffffff;
   color:  #22262A;
   font-weight: 600;
}

.button__two:hover {
   background: #22262A;
   color: #ffffff;
   font-weight: 600;
}
